<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tito ... pi</title>
</head>
<body>
    <center>
        <a>Hi there i'm TITO, your friend! Bringing you the host statistics...</a>
        <br><br>
        <table>
            <tr>
                <td><b>Host:</b></td>
                <td>{{ posts['node_name'] }}</td>
            </tr>
            <tr>
                <td><b>Uptime:</b></td>
                <td>{{ posts['uptime'] }}</td>
            </tr>
        </table>
    </center>
</body>
</html>
